@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "./styles.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background: $bgColor;
	color: $textColor;
}


@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 991px) {
	section {
		padding: 10rem 4% 2rem;
	}
}

@media (max-width: 520px) {
	html {
		font-size: 50%;
	}
}