$bgColor: #081b29;
$secondBgColor: #112e42;
$textColor: #ededed;
$mainColor: #00abf0;

%animation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $bgColor;
    z-index: 98;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}