@import "../../styles/styles.scss";

.home {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    align-items: center;
    padding: 0 9%;

    .homeContent {
        max-width: 90rem;

        h1 {
            position: relative;
            display: inline-block;
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.3;

            .animate {
                @extend %animation;
            }

            .animate.showAnimate {
                --i: 2;
                animation: showRight 1s ease forwards;
                animation-delay: calc(.3s * var(--i));
            }
        }

        .textAnimate {
            position: relative;
            width: 32.8rem;

            h3 {
                font-size: 3.2rem;
                font-weight: 700;
                color: transparent;
                -webkit-text-stroke: .7px $mainColor;
                background-image: linear-gradient($mainColor, $mainColor);
                background-repeat: no-repeat;
                -webkit-background-clip: text;
                background-position: -33rem 0;


                .showAnimate {
                    animation: homeBgText 6s linear infinite;
                    animation-delay: 2s;

                    &::before {
                        animation: homeCursorText 6s linear infinite;
                        animation-delay: 2s;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    border-right: 2px solid $mainColor;
                    z-index: -1;

                }
            }

            h3.showAnimate {
                animation: homeBgText 6s linear infinite;
                animation-delay: 2s;

                &::before {
                    animation: homeCursorText 6s linear infinite;
                    animation-delay: 2s;
                }
            }

            span.animate {
                @extend %animation;
            }

            span.animate.showAnimate {
                --i: 3;
                animation: showRight 1s ease forwards;
                animation-delay: calc(.3s * var(--i));
            }
        }

        p {
            position: relative;
            font-size: 1.6rem;
            margin: 2rem 0 4rem;
            max-width: 80rem;

            .animate {
                @extend %animation;
                width: 105%;
            }

            .animate.showAnimate {
                --i: 4;
                animation: showRight 1s ease forwards;
                animation-delay: calc(.3s * var(--i));
            }
        }

        .btnBox {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 34.5rem;
            height: 5rem;

            .animate {
                @extend %animation;
            }

            .animate.showAnimate {
                --i: 5;
                animation: showRight 1s ease forwards;
                animation-delay: calc(.3s * var(--i));
            }
        }
    }

    .homeSci {
        position: absolute;
        bottom: 4rem;
        width: 230px;
        display: flex;
        justify-content: space-between;

        .circle {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: transparent;
            border: .2rem solid $mainColor;
            border-radius: 50%;
            font-size: 20px;
            z-index: 1;
            overflow: hidden;
        }

        .circle a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $mainColor;

            & :hover {
                color: $bgColor;
            }
        }

        .iconGit {
            width: 40px;
            height: 40px;
        }

        a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $mainColor;
            z-index: -1;
            transition: .5s;
        }

        a:hover::before {
            width: 100%;
        }

        .animate {
            @extend %animation;
        }

        .animate.showAnimate {
            --i: 5;
            animation: showRight 1s ease forwards;
            animation-delay: calc(.3s * var(--i));
        }
    }

}

@media (max-width: 991px) {
    .home {
        padding: 0 4%;
    }
}

@media (max-width: 768px) {
    .home {
        .homeImgHover {
            background: $bgColor;
            opacity: .6;
        }
    }
}

@media (max-width: 520px) {
    .home {
        .homeContent {
            h1 {
                display: flex;
                flex-direction: column;
            }
        }

        .homeSci {
            width: 215px;

            a {
                width: 38px;
                height: 38px;
            }
        }
    }
}

@media (max-width: 462px) {
    .home .homeContent h1 {
        font-size: 5.2rem;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .homeContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 5rem;
        }
    }
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}